/* .contactUs {
  margin: 30px;
} */

.contact-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  gap: 30px;
}

.contact-info {
  flex: 1;
  min-width: 280px;
}

.contact-info h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.contact-info li {
  margin-bottom: 10px;
  font-size: 16px;
}
.contact-info ul li a {
  text-decoration: none;
  color: black;
}
.map iframe {
  border-radius: 8px;
}

.contact-form {
  flex: 1;
  min-width: 280px;
  margin-top: 70px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #0073e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #005bb5;
}
